.projects_container {
    background-color: transparent;
    color: white;
    padding: 20px;
    position: relative;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 10px 10px 0 0;
}
.projects_container::before {
    border-radius: 10px 10px 0 0;
    z-index: -1;
    opacity: 0.4;
    background-color: rgb(26, 204, 130);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
}
.project_h2 {
    margin: 5px 0;
    font-size: 30px;
}
.project_img {
    border-radius: 10px 10px 0 0;
    -o-object-fit: cover;
    object-fit: cover;
    height: 28vh;
}
.relative_container {
    position: relative;
    perspective: 1000px;
}

.front,
.back {
    width: 100%;
    height: 100%;
}
.front {
    transition: all 0.5s;
}
.back {
    opacity: 0;
    pointer-events: none;
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.links_text {
    letter-spacing: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    margin: 20px;
    text-align: center;
}
.a-links {
    color: black;
    position: relative;
    transition: all 0.5s;
    text-decoration: none;
}
.a-links:hover,
.a-links:focus {
    color: white;
    letter-spacing: 10px;
}
.projects_container:hover .back,
.projects_container:focus .back {
    opacity: 1;
    transition: all 0.5s 0.4s;
    pointer-events: all;
}
.projects_container:hover .front,
.projects_container:focus .front {
    opacity: 0;
    transform: translatey(100px);
    pointer-events: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 5% 60px;
    margin: 18px 180px;
}
.space {
    grid-column: 1/2;
    grid-row: 1/2;
}
.yelpcamp {
    grid-row: 2/3;
    grid-column: 3/4;
}
.login {
    grid-column: 3/4;
    grid-row: 1/2;
}
.brain {
    grid-column: 1/2;
    grid-row: 2/3;
}

.project_maindiv {
    height: 92.4vh;
    overflow: hidden;
}
.preview {
    text-decoration: line-through;
    opacity: 0;
    pointer-events: none;
}
.preview:hover,
.preview:focus {
    color: black;
    letter-spacing: 2px;
}
