.skills {
    height: 92.4vh;
}
.img {
    width: 10vw;
    height: 70%;
    padding: 10px;
}
.skills_div_relative {
    position: relative;
    margin: 20px 0;
    height: 100%;
}
.Skills_div {
    background-color: transparent;
    color: white;
    border-radius: 10px;
    height: 100%;
    position: relative;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    text-align: center;
}
.zoom {
    height: 100%;
}
.Skills_div::before {
    z-index: -1;
    opacity: 0.4;
    height: 100%;
    background-color: rgb(26, 204, 130);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
}
.skills_text {
    padding-bottom: 5px;
    font-size: 25px;
}
.prev {
    left: 0;
    width: 7vw;
}
.Tilt {
    height: 100%;
}
.container_skills {
    height: 100%;
}
.Tilt {
    padding: 15px 0;
}

.img_container_div {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
