.home {
    background: none;
    height: 92.4vh;
}
.words {
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
.upArrow,
.downArrow {
    display: inline-block;
    cursor: pointer;
    transition: color 250ms;
    margin: 0px 10px;
}
.dev_span {
    color: greenyellow;
}
.upArrow:hover,
.downArrow:hover {
    color: black;
}

.container {
    position: relative;
}

.up {
    animation: up 500ms forwards;
    display: inline-block;
}
.upA {
    animation: upA 500ms forwards;
    display: inline-block;
}
.intro {
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 160px;
    font-family: Arial, Helvetica, sans-serif;
}
.who {
    color: white;
    margin: 200px 250px 0px 250px;
}
.who_h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.who_p {
    margin-top: 40px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 24px;
}
.next,
.prev {
    font-size: 200px;
    position: absolute;
    top: 60px;
    padding-top: 26vh;
    height: 110vh;
    align-items: center;
    right: 4px;
    opacity: 0.7;
    color: white;
    cursor: pointer;
}
.next::before {
    content: "";
    position: absolute;
    width: 105%;
    padding: 0 6px;
    z-index: -1;
    top: -100px;
    right: -6px;
    opacity: 0.4;
    height: 100%;
    opacity: 0.9;
    transition: background 250ms;
    filter: blur(2px);
}
.prev::before {
    content: "";
    position: absolute;
    width: 105%;
    padding: 0 6px;
    z-index: -1;
    top: -100px;
    right: -6px;
    opacity: 0.4;
    height: 100%;
    opacity: 0.9;
    transition: background 250ms;
    filter: blur(2px);
}
.next:hover::before,
.prev:hover::before {
    background: rgb(26, 204, 130);
}
@keyframes up {
    from {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    to {
        transform: translate(-100px, 0px);
        opacity: 0;
    }
}
@keyframes upA {
    from {
        transform: translate(100px, 0px);
        opacity: 0;
    }
    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
.down {
    animation: down 500ms forwards;
    display: inline-block;
}
.downA {
    animation: downA 500ms forwards;
    display: inline-block;
}
@keyframes down {
    from {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    to {
        transform: translate(100px, 0px);
        opacity: 0;
    }
}
@keyframes downA {
    from {
        transform: translate(-100px, 0px);
        opacity: 0;
    }
    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
