.navOuter {
    position: relative;
    transform: translatey(-80px);
    transition: transform 0.5s;
}
.navAnimation {
    z-index: 2;
    position: relative;
    background-color: transparent;
}
.navAnimation:hover .navOuter {
    transform: translateY(0);
}
.navAnimation .navOuter::before {
    border-radius: 10px;
    z-index: -1;
    opacity: 0.6;
    background-color: black;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    position: absolute;
    top: 0;
    margin: 0 -5px;
    margin-top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
}
.navlist {
    display: flex;
    justify-content: flex-start;
}
.navlist_li {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
}
.nav {
    margin: 0 20px;
}
li {
    list-style: none;
    margin: 10px 6px;
    font-size: 27px;
}
li > a {
    color: rgb(192, 191, 191);
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        sans-serif;
}
.logo {
    justify-self: flex-start !important;
}
.blue {
    color: rgb(26, 204, 130);
}
